/* Custom styles for the Course Pass Rate Page */
body {
    font-family: Arial, sans-serif;
    background-color: darkorange;
    margin: 0;
    padding: 0;
    color: white;
}

.navbar {
    margin-bottom: 20px;
    background-color: #fff;
    color: #333;
}

.navbar-text {
    font-weight: bold;
    color: #333;
}

.navbar .btn {
    margin-left: 10px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.table-responsive {
    margin-top: 20px;
}

.table th, .table td {
    color: #333;
}

.table .form-control {
    width: 100%;
}

button[type="submit"] {
    margin-top: 20px;
}
.top-left-image {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; /* Increased size */
    height: auto;
}